<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/utils.css">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/mobile.css">
    <link rel="stylesheet" href="CSS/contact.css">
    <link rel="stylesheet" href="CSS/blogpost.css">
    <title>Document</title>
</head>

<body>
    <nav class="navigation max-width-1 margin-auto">
        <div class="nav-left">
            <span>iblog</span>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="/contact">contact</a></li>
                <!-- <li><a href="/frontend/login.html">login</a></li> -->
            </ul>


        </div>


        <div class="nav-right ">
            <form action="/search" method="get">
                <input type="text" class="form-input" name="query" placeholder="Search">
                <button class="btn">Search</button>
            </form>
            

        </div>
    </nav>

    <div class="max-width-1 margin-auto">
        <hr>
    </div>
