<!--inclue header-->
<%-include('include/__header')%> 
<!--/inclue header-->

    <div class="max-width-1 margin-auto">
        <hr>
    </div>

    <div class="contact-content">
        <div class="home-articles max-width-1 margin-auto font2">
            <h2>Feel free to contact us</h2>  
            <div class="contact-form">
                <div class="form-box">
                    <input type="text" placeholder="Enter your name">
                </div>

                <div class="form-box">
                    <input type="text" placeholder="Enter your email">
                </div>

                <div class="form-box">
                    <input type="text" placeholder="Enter your phone number">
                </div>

                <div class="form-box">
                    <textarea name="" id="" cols="30" rows="10" placeholder="How we can help you?"></textarea>
                </div>

                <div class="form-box">
                    <button class="btn">Summit</button>
                </div>


            </div> 
        </div>
    </div>
   

    <!--inclue footer-->
    <%-include('include/__footer')%> 
<!--/inclue footer-->