<!--inclue header-->
<%-include('include/__header')%> 
<!--/inclue header-->
    <div class="max-width-1 margin-auto">
        <hr>
    </div>

    <div class="home-articles max-width-1 margin-auto font2">

        <h2>Search Result</h2>
        <div class="home-article">

            <div class="home-article-img">
                <img src="Img/Vecteezy-Retro-Futuristic-Background2_jm0121_generated.jpg" alt="">
            </div>
            
            <div class="home-article-content font2">
                <a href="/blogpost"><h3>Lorem, ipsum dolor sit amet consectetur adipisicing.</h3></a> 
                <div>Author name</div>
                <span>Date and required time</span>

            </div>
        </div>

        <div class="home-article">

            <div class="home-article-img">
                <img src="Img/Vecteezy-Retro-Futuristic-Background2_jm0121_generated.jpg" alt="">
            </div>
            
            <div class="home-article-content font2">
                <a href="blogpost"><h3>Lorem, ipsum dolor sit amet consectetur adipisicing.</h3></a> 
                <div>Author name</div>
                <span>Date and required time</span>

            </div>
        </div>

    </div>

    <!--inclue footer-->
    <%-include('include/__footer')%> 
<!--/inclue footer-->