<div class="footer max-width-2 margin-auto">
    <p>Copyright &copy; iblog.com</p>
    <a href="https://www.vecteezy.com/free-vector/blog">Vector Credits: Vecteezy</a>

</div>

</body>

</html>