<!--inclue header-->
<%-include('include/__header')%> 
<!--/inclue header-->

<script>
</script>


    <div class="max-width-1 margin-auto">
        <hr>
    </div>

    <% if( post_message!='') { %>
        <p align=center style="color: rgb(86, 125, 255); margin: 20px; font-size: 150%;" ><%= post_message%></p>
    <% }  %>

    <div class="contact-content">
        <div class="home-articles max-width-1 margin-auto font2">
            <!-- <h2>Feel free to contact us</h2>   -->

        <form method="post" name="bpost" action="newpost" enctype="multipart/form-data"  >
            <div class="contact-form">
                <div class="form-box">
                    <input type="hidden" value="<%=login_user%>" name="username" placeholder="Enter your username">
                </div>

                <div class="form-box">
                    <input type="text" name="title" placeholder="Enter post-title">
                </div>

                <div class="form-box">
                    <input type="text" name="categories" placeholder="Enter post-categorie">
                </div>

                <div class="form-box">
                    <textarea name="desc" id="" cols="30" rows="10" placeholder="content"></textarea>
                </div>

                <div class="form-box">
                    <label for="image">Upload Image</label>
                    <!-- <h4 style=" color: rgb(5, 5, 5); font-size: 15px; width: 20%;  padding: 5px; margin: 5px 5px 5px 0px; font-family:'Roboto', sans-serif;">Enter Image</h4> -->
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg" style="background-color: white; padding: 5px; margin: 0px 5px 5px 0px; border: 2px solid rgb(0, 102, 255); width: 300px; ;"  >
                </div>
                <div class="form-box">
                    <button class="btn" type="submit">Summit</button>
                </div>
            </form>

            <!-- <form action="/api/photo" enctype="multipart/form-data" method="post">
                <div class="postImage">    
                    <h4 style=" color: rgb(5, 5, 5); font-size: 15px; width: 20%;  padding: 5px; margin: 5px 5px 5px 0px; font-family:'Roboto', sans-serif;">Enter Image</h4>
                    <input type="file" id="myFile" name="photo" style="background-color: white; padding: 5px; margin: 0px 5px 5px 0px; border: 2px solid rgb(0, 102, 255);" accept="image/png, image/jpeg" name = "PostImage" width="40" height="40" >
                </div>
                <div class="form-box">
                    <button class="btn" type="submit">Summit</button>
                </div>
            </form> -->

            </div> 
        </div>
    </div>
   

    <!--inclue footer-->
    <%-include('include/__footer')%> 
<!--/inclue footer-->